{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="login-top">
        <h1 class="login_title h3 mt-5 mb-3 font-weight-normal">Inscription</h1>
        <div class="neon-bar mt-5 mb-5"></div>
    </div>


    <div class="register-form">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn-list btn btn-outline-info d-flex justify-content-center m-auto">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

